{
  "openapi": "3.0.0",
  "info": {
    "title": "Cadence by Ringover",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cadence-api.ringover.com",
      "description": "Cadence API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/v2/external/lead/types": {
      "get": {
        "tags": ["Leads"],
        "summary": "Fetch integration types for lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns valid integration types",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "msg": "Fetched integration types for lead.",
                  "data": {
                    "integration_types": [
                      {
                        "value": "salesforce_lead",
                        "label": "Salesforce Lead"
                      },
                      {
                        "value": "salesforce_contact",
                        "label": "Salesforce Contact"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "msg": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/v2/external/lead/create": {
      "post": {
        "tags": ["Leads"],
        "summary": "Create lead",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "integration_type": "salesforce_contact",
                  "cadence_id": 120090,
                  "leads": [
                    {
                      "first_name": "Contact",
                      "last_name": "Test",
                      "job_position": "CEO",
                      "linkedin_url": "https://linkedin.com",
                      "emails": [
                        {
                          "email_id": "testcontact@gmail.com",
                          "is_primary": true,
                          "type": "Email"
                        }
                      ],
                      "phone_numbers": [
                        {
                          "phone_number": "+919090187652",
                          "is_primary": true,
                          "type": "MobilePhone"
                        },
                        {
                          "phone_number": "339829334",
                          "is_primary": false,
                          "type": "OtherPhone"
                        }
                      ],
                      "company": "Cadence By Ringover",
                      "size": "",
                      "url": "cadence.ringover.com",
                      "country": "France",
                      "zip_code": "",
                      "integration_id": "00Q2w09090MkoAIOpK",
                      "owner_id": "00Q2kn99a90MkoAMAJ",
                      "company_integration_id": "009w00001Jat2ukncdjkd"
                    },
                    {
                      "first_name": "Contact",
                      "last_name": "Test 2",
                      "job_position": "CEO",
                      "linkedin_url": "https://linkedin.com",
                      "emails": [
                        {
                          "email_id": "testcontact2@gmail.com",
                          "is_primary": true,
                          "type": "Email"
                        }
                      ],
                      "phone_numbers": [
                        {
                          "phone_number": "33009239832",
                          "is_primary": true,
                          "type": "MobilePhone"
                        }
                      ],
                      "company": "Ringover",
                      "size": "1-10",
                      "url": "www.ringover.com",
                      "country": "France",
                      "zip_code": "",
                      "integration_id": "0032w091211BaPuAAK",
                      "owner_id": "0052wPmkoi1bsJyAAJ",
                      "company_integration_id": "0012w008932DSjs3GAAR"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "msg": "Created leads",
                  "data": {
                    "total_success": 1,
                    "total_error": 1,
                    "element_success": [
                      {
                        "integration_id": "00Q2w09090MkoAIOpK",
                        "owner_id": "00Q2kn99a90MkoAMAJ",
                        "lead_id": 90182
                      }
                    ],
                    "element_error": [
                      {
                        "integration_id": "0032w091211BaPuAAK",
                        "owner_id": "0052wPmkoi1bsJyAAJ",
                        "msg": "Lead present in cadence tool"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/external/cadence": {
      "get": {
        "tags": ["Cadences"],
        "summary": "Fetch all cadences",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "msg": "Fetched cadences successfully",
                  "data": [
                    {
                      "name": "Test cadence 1",
                      "cadence_id": 103
                    },
                    {
                      "name": "Test cadence 2",
                      "cadence_id": 104
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
